
section                                 {}

section.card                            { padding: 10px 15px; margin: 0 auto; }

/* clears <input> placeholder text on focus in Chrome and FF... */
input:focus::-webkit-input-placeholder  { color: transparent; }
input:focus::-webkit-input-placeholder  { color: transparent !important; }
input:focus::-moz-placeholder           { color: transparent !important; }
input:focus:-moz-placeholder            { color: transparent !important; }

h1.banner                               { display: inline; position: relative; }
h1.banner > span                        {}
h1.banner > i                           { display: inline-block; vertical-align: middle; margin: 0px 5px; position: absolute; z-index: -100; left: -29px; top: -1px; }

#validation-warnings                    { display: none; position: absolute; width: 100%; left: 0; top: 0; height: 45px; margin: 0 auto;
                                          line-height: 45px; padding-bottom: 7px; }

#options-card                           { display: block; width: 60%; margin-top: 7%; text-align: center; }
#options-card .container                { width: 45%; display: inline-block; vertical-align: top; }

#options-card .game-type-choice  label  { width: 100%; margin-left: -65px; }

[name='mode-select']                    { height: 30px; width: 30px; }

#preset-container                       { text-align: left; }

#preset-container ol                    { list-style: none; padding-left: 0; }
#options-card ol > li                   { margin: 15px 0 0 15px; }

#options-card ul                        { list-style: none; text-align: left; }
#options-card ul > li                   { line-height: 35px; margin-top: 50px; }

.preset label                           { width: 250px; display: inline-block; }
.preset label .advice                   { margin-left: 15px; float: right; }

#options-card label                     {}

#options-card input                     {}
#options-card input[type='radio']       { vertical-align: middle; margin: 0 5px 2px 0; }

#options-card .preset,
#options-card .custom                   { width: 100%; display: inline-block; margin: 10px 0 50px; }

#options-card .preset                   {}
#options-card .custom                   { padding-left: 125px; }

#dimensions,
#dimensions-mirror,
#mine-count                             { width: 50px; padding: 3px 5px; }

#dimensions                             { margin-right: 10px; }
#dimensions-mirror                      { margin-left: 10px; border: none; background: none; }

#dimensions,
#mine-count                             { text-align: center; }

#mine-count                             { margin-right: 10px; }

#color-theme                            { width: 100px; padding: 3px 5px; }

.advice                                 {}

.disabled                               {}

#submit                                 { padding: 7px 20px; display: block; text-align: center; margin: 0 auto; }

#board-card                             { display: none; margin: 25px auto; text-align: center; }

#flash                                  { display: none; margin: 0 auto 10px; text-align: center; padding: 10px 25px; top: 35%; left: 0;
                                          position: absolute; width: 100%; z-index: 5000; }
#flash.game-over                        {}
#flash.game-win                         {}
#flash > a                              { display: block; text-decoration: none; margin: 10px 0 0; padding: 0; }

#board-card > header                    { position: relative; top: -35px; width: 100%; height: 45px; margin: 0 auto; line-height: 45px;
                                          padding-bottom: 7px; }

#mines-display                          { width: 12%; display: inline-block; float: left; }
#score-display                          { width: 12%; display: inline-block; float: left; position: relative; }
#countdown                              { width: 30%; display: inline-block; float: right; }
.scores                                 { position: relative; }

.scores,
.minecounter,
.timer                                  { background: #555; color: #FFF; text-align: center; display: inline-block; line-height: normal;
                                          padding: 5px; margin: -1px; }
.colon                                  { text-align: center; font-weight: bold; display: inline-block; width: 7px; }

.version                                { font-weight: bold; color: #800; margin-left: 7px; }


#board                                  { display: inline-block; }

.square                                 { padding: 7px; height: 50px; width: 50px; }
.square .danger                         { display: block; margin-top: 50%; }

/* mobile/touch event-related CSS */
.square, .danger                        { -webkit-user-select: none; -webkit-touch-callout: none;
                                          -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.closed                                 {}

.closed .danger,
.mined .danger                          { display: none; }

.open                                   {}

.flagged                                {}
.flagged .danger                        { display: block; margin-top: 0px; }

.mined.closed                           {}
.mined.open                             {}
.mined.open .danger                     { display: block; margin-top: 0; }

.killer-mine                            { -webkit-transition: all 3s ease; transition: all 3s ease;
                                          -webkit-transform: rotate(360deg) scaleX(1.7) scaleY(1.7); transform: rotate(360deg) scaleX(1.7) scaleY(1.7); }

.game-win                               {}
.game-over                              {}
.game-timedout							            {}