 "globals": {
    "process": true,
  },
  "rules": {

    "eqeqeq": ["error", "always", {"null": "ignore"}]   // require `===`, except for comparison with `null`
    "indent": ["error", 4, {"SwitchCase": 1}],
    "max-len": ["off", 120], // needs developer intervention
    "new-cap": "on",
    "no-console": 0,        // no use of console
    "no-param-reassign": "off",         // disallow reassignment of function parameters
    "no-process-env": 0,    // no use of process.env
    "no-unneeded-ternary": "off",
    "no-unused-vars": 0,
    "no-var": 0,

    "react/forbid-prop-types": "off",
    "react/jsx-boolean-value": ["error", "always"], // NOTE: this differs from ES
    "react/jsx-closing-bracket-location": "off",
    "react/jsx-first-prop-new-line": "off",
    "react/jsx-indent": "off",
    "react/jsx-indent-props": ["error", 4],
    "react/no-unescaped-entities": "off",
    "react/no-unused-prop-types": "off",
    "react/prefer-stateless-function": "off",
    // "react/sort-comp": "off", // ensure the order of the react methods in component class matches order of lifecycle

    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/tabindex-no-positive": "off",

    // "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-named-as-default": "off",
    // "import/prefer-default-export": "off",
    
  },
  "extends": "eslint:recommended"
